<p>list-product works!</p>
<div class="page-container">
  <div class="page-header">
    <h1>Products List</h1>
    <button routerLink="/products/create" class="btn btn-primary">+ Add Product</button>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (products.length > 0) {
          @for (product of products; track product.id) {
            <tr>
              <td>{{ product.id }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.description }}</td>
              <td>${{ product.price }}</td>
              <td>
                <button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
              </td>
            </tr>
          }
        } @else {
          <tr>
            <td colspan="5">No products found / API disconnected.</td>
          </tr>
        }      
      </tbody>
    </table>
  </div>
  </div>